.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 576px;
}

.loading-icon {
  animation: swing; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  svg {
    font-weight: 400;
    color: aqua;
  }
}