@use "../../../styles/global.scss";

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4vh;
  height: 4vh;
  background: transparent;
  border-radius: global.$border-radius;
  border: 2px solid global.$gray300;
  font-size: 2.5vh;
  
  svg {
    font-size: 2.5vh;
  }
}